#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-controls{
  display: flex;
  justify-content: center;
  gap: 4em;
  width: 100%;
  /* margin: 0 auto; */
  background: #988e8e;
  padding: 1em;
  border-radius: 10px;
}


.progressBar {
  appearance: none;
  height: 15px;
  width: 80%;
  border-radius: 100px;
  margin: 20px;
    
  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background: black;
    border-radius: 100px;
  }

  &::-webkit-progress-value {
    background-color: pink;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  /* Firefox */
  &::-moz-progress-bar {
    background-color: pink;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
}


.progressBar {
  &::-webkit-progress-value {
    transition: width 1s;
  }
}

.output {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  /* background: #000; */
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem;
}

.App-manipulation-controls{
  display: flex;
  justify-content: center;
  gap: 3em;
  width: 100%;
  /* margin: 0 auto; */
  background: #988e8e;
  padding: 1em;
  border-radius: 10px;
}